.App {
  text-align: center;
}

.App-logo {
  max-width: 90%; /* Limit logo size based on its parent */
  max-height: 70vmin; /* Limit logo size based on viewport height */
  width: auto; /* Keep aspect ratio */
  height: auto; /* Keep aspect ratio */
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding */
}

.App-header h1,
.App-header p {
  margin: 20px 0; /* Add space between text and other elements */
}

/* Responsive font size for the header and paragraph */
h1 {
  font-size: 4vw; /* Scale font size based on viewport width */
}

p {
  font-size: 2vw; /* Scale font size based on viewport width */
}

/* For smaller devices with width less than 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 6vw; /* Increase font size for small screens */
  }

  p {
    font-size: 4vw; /* Increase font size for small screens */
  }

  .App-logo {
    max-height: 60vmin; /* Reduce logo size on small screens */
  }
}
